# Custom

*.txt
*.encrypted

## IntelliJ IDEA

# General
.idea/*
!.idea/compiler.xml
!.idea/encodings.xml
!.idea/misc.xml
!.idea/vcs.xml
!.idea/runConfigurations/

.idea/workspace.xml
.idea/uiDesigner.xml
.idea/jarRepositories.xml

*.iws
*.iml
*.ipr

# Editor-based HTTP Client requests
.idea/httpRequests/

# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml

## Linux

# Temporary files
*~

## macOS

# Files created by macOS Finder
.DS_Store

## Maven
.mvn/wrapper/maven-wrapper.jar
target/

## Windows

# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini
